body {
	background-color: black;
	color: white;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: white;
	text-decoration:none; 
} 

article {
	margin-top: 2%;
	background-color: rgb(255, 255, 255);
	border-radius: 6px;
}

h1 {
	font-family: "lobster", cursive;
}

.center {
	width: 600px;
	margin-left: auto;
	margin-right: auto; 
}

.inline {
	display: inline;
}

.row-centered {
	text-align: center;
}

.toRight {	
	float: right;
	margin-right: 5%;
}

#quote {
	font-family: serif;
	/*font-size: 24px;*/
	padding: 2%;
	color: black;
}

#btnTweet {
	margin: 0 0 2% 5%;
}

#main {
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 300px);
}
